// 공통 scss

// 아코디언
.accordion-list {
  .accordion-header {
    cursor: pointer;
  }
  .accordion-body {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 6px; /*스크롤바의 너비*/
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1); /*스크롤바의 색상*/
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ddd; /*스크롤바 트랙 색상*/
}

// 메인 scss
html,
body {
  -webkit-overflow-scrolling: touch;
  &.scroll-disable {
    overflow: hidden !important;
    &.responsive-scroll {
      @media (min-width: 961px) {
        overflow: visible !important;
      }
    }
  }
}

// 달력
.ui-datepicker {
  width: 16em !important;
  padding: rem(10px) !important;
  @media (max-width: $mobile-large) {
    width: 15em !important;
  }
  &.ui-widget.ui-widget-content {
    margin-top: rem(10px);
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    .ui-icon {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat !important;
      background-position: 0 0 !important;
      background-size: cover !important;
    }
  }
  .ui-datepicker-prev {
    .ui-icon {
      background-image: url('../images/components/icon-arrow-prev-bk-32x32.png') !important;
    }
  }
  .ui-datepicker-next {
    .ui-icon {
      background-image: url('../images/components/icon-arrow-next-bk-32x32.png') !important;
    }
  }
  .ui-widget-header {
    background-color: #fff;
    border: 0;
  }
  .ui-datepicker-title {
    font-size: rem(12px);
    select {
      width: calc(45% - 10px) !important;
      margin: 0 rem(5px) !important;
      padding: rem(5px) rem(10px) !important;
      border: 1px solid #ddd !important;
      font-size: rem(14px) !important;
    }
  }
  .ui-state-default {
    border: 0 !important;
    background-color: #fff !important;
    text-align: center !important;
    font-size: rem(16px);
    &.ui-state-active {
      background-color: $primary !important;
      border-color: transparent !important;
      color: #fff !important;
    }
  }
}

// swiper
.swiper-container {
  position: relative;
  overflow: hidden;
  .swiper-button-next,
  .swiper-button-prev {
    @include size(70px);
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    &:after {
      display: none;
    }
  }
  .swiper-button-next {
    background-image: url('../images/icon/icon-slider-arrow-next-bk-70x70.png');
  }
  .swiper-button-prev {
    background-image: url('../images/icon/icon-slider-arrow-prev-bk-70x70.png');
  }
  .swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0 !important;
    margin-top: 20px;
    .swiper-pagination-bullet {
      display: block;
    }
  }
}

.mask-image-animation {
  overflow: hidden;
  position: relative;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    @include size(100%);
    background-color: #fff;
    &.left {
      transform-origin: left;
    }
    &.right {
      transform-origin: right;
    }
  }
}
.text-animation {
  .title {
    display: block;
  }
}
