// 메인 scss

img {
  display: block;
  max-width: 100%;
}
.pc-show {
  display: none;
}
@media (min-width: $tablet-small) {
  .mobile-show {
    display: none;
  }
  .pc-show {
    display: block;
  }
}
$header-height: 36px;
// 헤더
#header {
  position: relative;
  z-index: 99;
  @media (min-width: $tablet-small) {
    .header-primary {
      height: 58px;
    }
    &.fix {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 3;
      border-bottom: 1px solid rgba(#fff, 0.5);
      .header-primary {
        background-color: transparent;
        .pc-logo {
          img {
            &.white {
              display: block;
            }
            &.black {
              display: none;
            }
          }
        }
        .subject {
          color: #fff;
        }
        .controller {
          .btn-mypage {
            color: #000;
            background-color: #fff;
          }
          .icon-share {
            @include _background-image('icon/icon-share-w.svg');
          }
        }
      }
    }
  }
  @media (min-width: $tablet-large) {
    .header-primary {
      padding: 0;
    }
  }
}
.header-logo {
  position: relative;
  height: rem($header-height);
  background: #05141f;
  h1 {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    img {
      display: block;
      width: rem(26px);
    }
  }
  @media (min-width: $tablet-small) {
    display: none;
  }
}
.header-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: rem($header-height);
  position: relative;
  margin: 0 auto;
  padding: 0 rem(16px);
  background-color: #fff;
  .pc-logo {
    display: none;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    img {
      width: 72px;
      &.white {
        display: none;
      }
      &.black {
        display: block;
      }
    }
    @media (min-width: $tablet-small) {
      display: block;
    }
  }
  .subject {
    font-weight: 700;
    font-size: rem(14px);
  }
  .controller {
    display: flex;
    align-items: center;
    .btn-mypage {
      padding: rem(4px) rem(12px);
      border-radius: 50px;
      font-size: rem(11px);
      color: #fff;
      background-color: #05141f;
    }
    .icon-share {
      @include size(rem(20px), rem(20px));
      margin-left: rem(16px);
      @include _background-image('icon/icon-share.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: rem(13px) rem(12px);
      text-indent: -9999px;
    }
  }
}
.section-inner {
  padding: 0 rem(16px);
}
.layout-inner {
  @media (min-width: $tablet-small) {
    width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
  }
  @media (min-width: $tablet-large) {
    width: 1280px;
  }
}
.main-section {
  position: relative;
  overflow: hidden;
}
.main-keyvisual-section {
  position: relative;
  height: rem(568px);
  padding: rem(60px) rem(20px);
  box-sizing: border-box;
  @media (min-width: $mobile-large) {
    height: rem(650px);
  }
  @media (min-width: $tablet-small) {
    height: 100vh;
    padding: 0;
  }
  .main-keyvisual {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include size(100%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @include _background-image('img-main-keyvisual.png');
    @media (min-width: $mobile-large) {
      @include _background-image('img-main-keyvisual-pc.png');
    }
  }
  .subject-area {
    position: relative;
    z-index: 2;
    text-align: center;
    @media (min-width: $tablet-small) {
      position: absolute;
      top: 175px;
      left: 0;
      text-align: left;
    }
    .subject {
      font-weight: 700;
      font-size: rem(40px);
      line-height: rem(48px);
      color: #fff;
      @media (min-width: $tablet-small) {
        text-shadow: 4px 4px 20px rgba(#000, 0.5);
      }
    }
    .eng-text {
      margin-top: rem(3px);
      font-weight: 300;
      font-size: rem(18px);
      color: #fff;
      @media (min-width: $tablet-small) {
        text-shadow: 4px 4px 20px rgba(#000, 0.5);
      }
    }
  }
  .scroll-element {
    transform: translateX(-50%);
    position: absolute;
    bottom: rem(30px);
    left: 50%;
    z-index: 2;
    width: 100%;
    text-align: center;
    @media (min-width: $tablet-small) {
      bottom: 40px;
    }
    .text {
      font-weight: 300;
      font-size: rem(16px);
      color: #fff;
      @media (min-width: $tablet-small) {
        font-weight: 400;
        font-size: 20px;
        color: #000;
        br {
          display: none;
        }
      }
    }
    .icon {
      animation: scrollIcon 0.7s infinite alternate linear;
      display: block;
      @include size(rem(15px), rem(34px));
      margin: rem(20px) auto 0;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      @include _background-image('icon/icon-mouse.svg');
      @media (min-width: $tablet-small) {
        margin-top: 10px;
        @include _background-image('icon/icon-mouse-bk.png');
      }
    }
  }
}
@keyframes scrollIcon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
.main-intro-section {
  position: relative;
  background-color: #fff;
  @media (min-width: $tablet-small) {
    display: flex;
  }
  .intro-wrapper {
    position: relative;
    z-index: 1;
    padding: rem(80px) rem(16px) rem(115px);
    @media (min-width: $tablet-small) {
      display: flex;
      align-items: center;
      width: 50%;
      .text-area {
        max-width: 340px;
        margin: 0 auto;
        // transform: translate(-50%, -50%);
        // position: absolute;
        // top: 50%;
        // left: 50%;
      }
    }
  }
  .eng-text {
    font-weight: 700;
    font-size: rem(30px);
  }
  .sub-text {
    font-weight: 300;
    &.large {
      margin-top: rem(10px);
      line-height: rem(38px);
      font-size: rem(28px);
    }
    &.small {
      margin-top: rem(30px);
      line-height: rem(20px);
      font-size: rem(16px);
      color: #888;
    }
    &.medium {
      margin-top: rem(10px);
      line-height: rem(24px);
      font-size: rem(20px);
    }
  }
  .logo-text {
    position: absolute;
    bottom: rem(-22px);
    right: 0;
    z-index: 1;
    img {
      width: rem(237px);
    }
    @media (min-width: $tablet-small) {
      bottom: -10px;
      right: 30px;
      img {
        width: 319px;
      }
    }
  }
  .car-image {
    flex-grow: 1;
    position: relative;
    z-index: 2;
    @media (min-width: $tablet-small) {
      width: 50%;
    }
    img {
      @include size(100%);
    }
  }
}
.text-mask-animation {
  position: relative;
  .text {
    display: block;
    position: relative;
    z-index: 1;
  }
  .mask {
    display: block;
    transform-origin: bottom;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    @include size(100%);
    background-color: #fff;
    &.hide {
      display: none;
    }
  }
}
.main-engine-section {
  padding: rem(80px) 0 rem(50px);
  background-color: #000;
  @media (min-width: $tablet-small) {
    display: flex;
    padding: 80px 0;
  }
  .subject-area {
    position: relative;
    z-index: 2;
    padding: 0 rem(16px);
    .subject {
      line-height: rem(36px);
      font-weight: 700;
      font-size: rem(30px);
      color: #fff;
    }
    .info-text {
      margin-top: rem(30px);
      line-height: rem(20px);
      font-weight: 300;
      font-size: rem(16px);
      color: #fff;
    }
  }
  .img-engine {
    position: relative;
    z-index: 1;
    margin: rem(-20px) 0 rem(-25px);
    img {
      width: 100%;
    }
    @media (min-width: $tablet-small) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
      text-align: right;
      img {
        display: inline-block;
        width: 556px;
        margin-right: 50px;
      }
    }
  }
  .engine-info-container {
    position: relative;
    z-index: 2;
    padding: 0 rem(16px);
    @media (min-width: $tablet-small) {
      width: 50%;
      padding-left: 100px;
      .subject-area {
        padding: 0;
        margin-bottom: 72px;
      }
    }
    .info-item {
      + .info-item {
        margin-top: rem(30px);
      }
      &.info-item01 {
        .asset {
          .value {
            strong {
              min-width: rem(70px);
            }
          }
        }
      }
      &.info-item03 {
        .asset {
          &:first-child {
            .value {
              strong {
                min-width: rem(50px);
              }
            }
          }
        }
      }
    }
    .type {
      display: block;
      font-size: rem(14px);
      color: #fff;
    }
    .engine-info {
      display: flex;
      align-items: center;
      margin-top: rem(15px);
    }
    .asset {
      display: flex;
      align-items: center;
      width: 50%;
      + .asset {
        margin-left: rem(5px);
      }
      @media (min-width: $tablet-small) {
        width: 170px;
      }
      &.wide {
        width: 100%;
        .text {
          margin-left: rem(20px);
        }
      }
      .value {
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        strong {
          display: block;
          font-size: rem(30px);
          color: #fff;
          min-width: rem(63px);
        }
        span {
          color: #fff;
          font-weight: 300;
          font-size: rem(14px);
        }
      }
      .text {
        flex-shrink: 0;
        // margin-left: rem(7px);
        line-height: rem(16px);
        font-size: rem(12px);
        color: #fff;
      }
    }
  }
}
.main-more-section {
  padding-top: rem(80px);
  .subject-area {
    padding: 0 rem(16px);
    .subject {
      line-height: rem(29px);
      font-weight: 700;
      font-size: rem(24px);
    }
    .sub-text {
      margin-top: rem(23px);
      line-height: rem(20px);
      font-weight: 300;
      font-size: rem(16px);
    }
  }
  @media (min-width: $tablet-small) {
    padding-top: 112px;
    .subject-area {
      text-align: center;
      .subject {
        line-height: 36px;
      }
      .car-img {
        margin-top: 56px;
        img {
          margin: 0 auto;
        }
      }
    }
  }
  .intro-area {
    padding: 0 rem(16px);
    margin-top: rem(63px);
    position: relative;
    z-index: 2;
    .intro-text {
      position: relative;
      text-align: center;
      span {
        display: inline-block;
        position: relative;
        z-index: 2;
        padding: 0 rem(11px);
        line-height: rem(18px);
        font-size: rem(15px);
        background-color: #fff;
      }
      &:after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translateY(-50%);
        background-color: #dedede;
      }
      @media (min-width: $tablet-small) {
        span {
          font-weight: 700;
          font-size: 18px;
        }
        &:after {
          display: none;
        }
      }
    }
    .btn-intro {
      display: block;
      height: rem(72px);
      line-height: rem(72px);
      margin-top: rem(10px);
      text-align: center;
      border-radius: rem(4px);
      font-weight: 700;
      font-size: rem(22px);
      color: #fff;
      background-color: #242d43;
      @media (min-width: $tablet-small) {
        width: 328px;
        margin: 16px auto 0;
      }
    }
  }
  .img-car {
    margin-top: rem(-49px);
    position: relative;
    z-index: 1;
    img {
      width: 100%;
    }
  }
}
.choice-content {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #242d43;
  .bg-flower {
    transform: translateX(-50%);
    position: absolute;
    top: rem(7px);
    left: 50%;
    z-index: 1;
    width: calc(100% - 32px);
    max-width: rem(500px);
    img {
      width: 100%;
    }
  }
}
.choice-subject-area {
  padding-top: rem(48px);
  text-align: center;
  .step {
    line-height: rem(16px);
    font-size: rem(13px);
    color: #fff;
  }
  .line {
    display: block;
    width: rem(20px);
    height: rem(2px);
    margin: rem(8px) auto 0;
    background-color: #fff;
  }
  .subject {
    margin-top: rem(16px);
    line-height: rem(32px);
    font-size: rem(26px);
    color: #fff;
  }
  .sub-text {
    margin-top: rem(16px);
    line-height: rem(20px);
    font-weight: 300;
    font-size: rem(14px);
    color: rgba(255, 255, 255, 0.7);
  }
}
.trim-select-box {
  display: flex;
  justify-content: center;
  max-width: rem(600px);
  margin: rem(42px) auto 0;
  .select-item {
    position: relative;
    width: calc(33.333% - 5.4px);
    + .select-item {
      margin-left: rem(8px);
    }
    input[type='radio'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%);
      cursor: pointer;
      &:checked {
        + .select-content {
          background-color: $primary;
          .checkbox {
            @include _background-image('components/icon-checkbox-round-w-on.png');
          }
          .name,
          .price {
            color: #fff;
          }
        }
      }
    }
  }
  .select-content {
    transition: 0.3s;
    height: rem(110px);
    padding: rem(20px) rem(5px);
    border-radius: rem(10px);
    border: 1px solid $primary;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    .checkbox {
      display: block;
      @include size(20px);
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      @include _background-image('components/icon-checkbox-round-off.png');
    }
    .name {
      display: block;
      margin-top: rem(17px);
      font-size: rem(18px);
      line-height: rem(22px);
    }
    .price {
      margin-top: rem(4px);
      line-height: rem(16px);
      font-weight: 300;
      font-size: rem(13px);
    }
  }
}
.option-detail-components {
  display: flex;
  flex-wrap: wrap;
  .option-item {
    padding: rem(8px) rem(12px);
    margin: 0 rem(10px) rem(16px) 0;
    border-radius: rem(4px);
    border: 1px solid #989898;
    font-size: rem(14px);
    background-color: #fff;
    color: #989898;
    &.active {
      color: #fff;
      border-color: $primary;
      background-color: $primary;
    }
  }
}
.trim-option-content {
  margin-top: rem(-37px);
  padding: rem(85px) rem(16px) rem(60px);
  background-color: #fff;
  .content-subject {
    text-align: center;
    line-height: rem(22px);
    font-size: rem(16px);
  }
  .trim-option-detail {
    margin-top: rem(48px);
  }
  .option-tab-swiper {
    width: 100%;
    border-bottom: 1px solid #000;
    .swiper-wrapper {
      // position: static;
    }
    .swiper-slide {
      width: auto;
      white-space: nowrap;
      a {
        display: block;
        position: relative;
        padding: rem(12px) 0;
        line-height: rem(22px);
        font-weight: 300;
        font-size: rem(18px);
        &:before {
          display: none;
          content: '';
          position: absolute;
          top: calc(100% - 2px);
          left: 0;
          width: 100%;
          height: 2px;
          z-index: 2;
          background-color: $primary;
        }
      }
      &.active {
        a {
          font-weight: 700;
          &:before {
            display: block;
          }
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 0;
      width: rem(30px);
      height: 100%;
      margin-top: 0;
      &:before {
        display: block;
        content: '';
        @include size(rem(8px), rem(12px));
        background-size: cover;
      }
    }
    .swiper-button-prev {
      justify-content: flex-start;
      left: 0;
      background: linear-gradient(90deg, white 35%, rgba(255, 255, 255, 0) 100%);
      &:before {
        @include _background-image('icon/icon-arrow-prev-8x12.png');
      }
    }
    .swiper-button-next {
      justify-content: flex-end;
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 65%);
      &:before {
        @include _background-image('icon/icon-arrow-next-8x12.png');
      }
    }
  }
  .option-detail-box {
    margin-top: rem(25px);
    padding: rem(21px) 0 rem(27px) rem(16px);
    background-color: #f6f9fa;
  }
  .btn-option-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(204px);
    height: rem(42px);
    margin: rem(24px) auto 0;
    border-radius: 50px;
    font-size: rem(14px);
    background-color: #dedede;
    .icon {
      display: block;
      @include size(rem(26));
      margin-right: rem(6px);
      @include _background('icon/icon-hands.png');
      background-size: cover;
    }
  }
  .plus-option-area {
    margin-top: rem(48px);
    .text {
      text-align: center;
      line-height: rem(20px);
      font-size: rem(16px);
    }
    .btn {
      display: block;
      margin-top: rem(24px);
    }
  }
}

.choice-history-list {
  padding-top: rem(24px);
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px) rem(16px);
    border-radius: rem(4px);
    background-color: #6d718d;
    + .list-item {
      margin-top: rem(8px);
    }
    .step {
      line-height: rem(17px);
      font-weight: 300;
      font-size: rem(14px);
      color: #fff;
    }
    .btn-reset {
      flex-shrink: 0;
      display: block;
      margin-left: rem(10px);
      border-bottom: 1px solid #fff;
      line-height: rem(15px);
      font-weight: 300;
      font-size: rem(12px);
      color: #fff;
    }
  }
}
.add-option-container {
  margin-top: rem(42px);
  padding: rem(32px) rem(32px) rem(40px);
  border-radius: rem(10px);
  background-color: #fff;
  .subject {
    display: block;
    text-align: center;
    line-height: rem(20px);
    font-size: rem(16px);
    .icon-question {
      display: inline-block;
      margin-right: rem(4px);
      margin-top: rem(-3px);
      @include size(rem(20px));
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: rem(14px) rem(14px);
      @include _background-image('icon/icon-question.png');
      text-indent: -9999px;
      vertical-align: middle;
    }
  }
  .option-list {
    margin-top: rem(20px);
  }
  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16px) 0;
    border-top: 1px solid #dedede;
    &:last-child {
      border-bottom: 1px solid #dedede;
    }
    .selector-wrapper {
      display: flex;
      align-items: center;
    }
    .btn-detail {
      display: block;
      margin-left: rem(4px);
      @include size(rem(20px));
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: rem(14px) rem(14px);
      @include _background-image('icon/icon-question.png');
      text-indent: -9999px;
    }
    .price {
      flex-shrink: 0;
      line-height: rem(16px);
      font-weight: 300;
      font-size: rem(13px);
    }
  }
}
.bottom-btn-container {
  padding-top: rem(40px);
  .info-text {
    text-align: center;
    line-height: rem(20px);
    font-size: rem(16px);
    color: #fff;
    + .btn-group {
      margin-top: rem(24px);
    }
  }
  .btn-group {
    .btn {
      display: block;
      + .btn {
        margin-top: rem(8px);
      }
    }
  }
}
.step02-content,
.step03-content,
.step-complete-content {
  padding-bottom: rem(60px);
}
.step-complete-content {
  .bottom-btn-container {
    padding-top: rem(17px);
  }
}
.color-select-container {
  margin-top: rem(40px);
  border-radius: rem(10px);
  overflow: hidden;
  .color-select-tab {
    display: flex;
    .tab-item {
      width: 50%;
      height: rem(52px);
      position: relative;
      z-index: 1;
      &.active {
        z-index: 2;
        a {
          color: #000;
          background-color: #f6f9fa;
        }
        &:first-child {
          box-shadow: 4px -2px 4px rgba(0, 0, 0, 0.25);
        }
        &:last-child {
          box-shadow: -4px -2px 4px rgba(0, 0, 0, 0.25);
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(100%);
        font-weight: 700;
        font-size: rem(16px);
        color: #fff;
        background-color: #8f8f8f;
      }
    }
  }
  .content-item {
    display: none;
    padding: rem(24px) rem(16px);
    background-color: #fff;
    &:first-child {
      display: block;
    }
  }
  .color-list {
    display: flex;
    justify-content: center;
    .color-item {
      position: relative;
      + .color-item {
        margin-left: rem(17px);
      }

      input[type='radio'] {
        @include blind();
        cursor: pointer;
        &:checked + label {
          transform: scale(1.5);
          border: 1px solid #fff;
          box-shadow: 0px 0px 8px 0px #00000080;
          &:before {
            display: block;
          }
        }
      }
      label {
        transition: 0.2s;
        display: block;
        @include size(26px);
        position: relative;
        border-radius: 50%;
        text-indent: -9999px;
        border: 1px solid transparent;
        cursor: pointer;
        &:before {
          transform: translate(-50%, -50%) scale(0.67);
          display: none;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          @include size(16px);
          @include _background('icon/icon-checkbox-w-16x16.svg');
          background-size: cover;
        }
        &.green {
          background-color: #3b4641;
        }
        &.red {
          background-color: #6c010e;
        }
        &.blue {
          background-color: #1d3242;
        }
        &.white {
          border-color: #bdbdbd;
          background-color: #f5f7f4;
        }
        &.steel-grey {
          background-color: #c0c7c8;
        }
        &.stela-grey {
          background-color: #1f1f1f;
        }
        &.black {
          background-color: #080809;
        }
        &.charcoal-grey {
          background-color: #282526;
        }
        &.medium-grey {
          background-color: #383739;
        }
        &.petrol {
          background-color: #202a37;
        }
      }
      &.white {
        label {
          &:before {
            // background-color: #000;
          }
        }
      }
    }
  }
}
.color-slider-container {
  margin-top: rem(20px);
  .color-title {
    display: block;
    margin-top: rem(7px);
    text-align: center;
    line-height: rem(20px);
    font-weight: 400;
    font-size: rem(16px);
  }
  .car-image {
    width: 78%;
    margin: rem(8px) auto 0;
    img {
      margin: 0 auto;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: rem(20px);
    height: rem(20px);
    background-size: rem(12px) rem(19px);
    outline: none;
  }
  .swiper-button-next {
    right: 0;
    @include _background-image('icon/icon-arrow-next-12x19.png');
  }
  .swiper-button-prev {
    left: 0;
    @include _background-image('icon/icon-arrow-prev-12x19.png');
  }
}
.filler-garnish-select {
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(48px);
  margin-top: rem(14px);
  border-radius: rem(10px);
  background-color: #efefef;
  .btn-more {
    display: block;
    @include size(20px);
    margin-left: rem(5px);
    @include _background('icon/icon-question-grey.png', 50%, 50%);
    background-size: 14px 14px;
    text-indent: -9999px;
  }
}
.step-complete-subject {
  position: relative;
  z-index: 1;
  padding-top: rem(40px);
  text-align: center;
  h3 {
    position: relative;
    z-index: 2;
    font-weight: 300;
    font-size: rem(20px);
    color: #fff;
  }
}
.car-select-complpete-box {
  position: relative;
  z-index: 2;
  margin-top: rem(35px);
  padding: rem(25px) rem(32px) rem(30px);
  border-radius: rem(10px);
  background-color: #fff;
  .car-select-intro {
    .car-type {
      text-align: center;
      span {
        display: inline-block;
        padding: rem(5px) rem(24px);
        border: 1px solid #000;
        box-shadow: 0px 2px 4px 0px #00000040;
        font-size: rem(16px);
      }
    }
    .car-image {
      margin-top: rem(15px);
      img {
        max-width: rem(400px);
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  .car-info-item {
    padding: rem(32px) 0;
    border-top: 1px solid rgba(#666, 0.3);
    .subject {
      display: block;
      font-size: rem(16px);
    }
    .sub-text {
      margin-top: rem(8px);
      line-height: rem(17px);
      font-weight: 300;
      font-size: rem(14px);
      color: #666;
    }
    .list-item {
      display: flex;
      align-items: center;
      margin-top: rem(16px);
      .type {
        flex-shrink: 0;
        font-size: rem(14px);
      }
      .color {
        display: flex;
        align-items: center;
        margin-left: rem(16px);
        font-weight: 700;
        font-size: rem(14px);
      }
      .circle {
        display: block;
        @include size(rem(24px));
        margin-right: rem(8px);
        border-radius: 50%;
        &.green {
          background-color: #3b4641;
        }
        &.red {
          background-color: #6c010e;
        }
        &.blue {
          background-color: #1d3242;
        }
        &.white {
          background-color: #f5f7f4;
        }
        &.steel-grey {
          background-color: #c0c7c8;
        }
        &.stela-grey {
          background-color: #1f1f1f;
        }
        &.black {
          background-color: #080809;
        }
        &.charcoal-grey {
          background-color: #282526;
        }
        &.medium-grey {
          background-color: #383739;
        }
        &.petrol {
          background-color: #202a37;
        }
      }
    }
    .option-detail-components {
      margin-top: rem(24px);
    }
  }
}
.preview-event-box {
  margin-top: rem(16px);
  padding: rem(48px) rem(24px);
  border-radius: rem(10px);
  background: radial-gradient(76.91% 79.25% at 50% 51.52%, #fce400 0%, #fcc500 100%);
  .title-area {
    text-align: center;
    .sub-title {
      line-height: rem(22px);
      font-size: rem(18px);
    }
    .title {
      margin-top: rem(2px);
      line-height: rem(41px);
      font-weight: 700;
      font-size: rem(34px);
    }
  }
  .coupon-area {
    margin-top: rem(32px);
    text-align: center;
    .type {
      line-height: rem(20px);
      font-size: rem(16px);
    }
    .copy-coupon {
      margin-top: rem(8px);
      text-align: center;
      a {
        display: inline-block;
        color: rgba(#000, 0.5);
        border-bottom: 1px solid rgba(#000, 0.5);
        font-size: rem(14px);
      }
    }
    .coupon-box {
      padding: rem(24px);
      margin-top: rem(8px);
      border-radius: rem(8px);
      background-color: #fff;
      font-size: rem(24px);
      word-break: break-all;
    }
  }
  .info-text {
    margin-top: rem(24px);
    line-height: rem(26px);
    text-align: center;
    font-size: rem(16px);
    letter-spacing: -0.06rem;
  }
  .btn-group {
    margin-top: rem(40px);
    .btn {
      width: 100%;
      + .btn {
        margin-top: rem(8px);
      }
    }
  }
  .my-storagebox-empty-content & {
    margin-top: rem(40px);
  }
}
.store-banner-container {
  display: flex;
  flex-wrap: wrap;
  .store-banner {
    width: calc(50% - #{rem(4px)});
    + .store-banner {
      margin-left: rem(8px);
    }
  }
}
.store-banner {
  display: block;
  position: relative;
  margin-top: rem(16px);
  height: rem(120px);
  border-radius: rem(10px);
  overflow: hidden;
  text-align: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  @include _background-image('img-store-banner.png');
  @media (min-width: 600px) {
    height: rem(160px);
  }

  @media (min-width: $tablet-small) {
    height: rem(220px);
  }
  &:nth-child(1) {
    @include _background-image('img-store-banner.png');
  }
  &:nth-child(2) {
    @include _background-image('img-store-banner-02.png');
  }
  .text {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: rem(15px);
    z-index: 2;
    line-height: rem(22px);
    font-weight: 700;
    font-size: rem(18px);
  }
  .text-bg {
    display: none;
    @include size(50%, 100%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    @include _background('bg-store-banner.png');
    background-size: cover;
  }
}

.car-select-empty-content {
  margin-top: rem(40px);
  text-align: center;
  .info-text {
    font-weight: 300;
    font-size: rem(14px);
    color: #fff;
  }
  .btn {
    margin-top: rem(20px);
  }
}
.intro-fixed-section {
  .intro-fixed-title {
    transform: translateX(-50%);
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 3;
    width: 100%;
    text-align: center;
    .step {
      display: block;
      line-height: rem(27px);
      font-weight: 700;
      font-size: rem(22px);
    }
    .text {
      display: block;
      margin-top: rem(8px);
      line-height: rem(32px);
      font-weight: 700;
      font-size: rem(26px);
    }
    &.start {
      .icon-scroll {
        display: none;
      }
    }
    @media (min-width: $mobile-large) {
      &.start {
        .step,
        .text {
          color: #000;
          text-shadow: none;
        }
      }
      .step,
      .text {
        color: #fff;
        text-shadow: 4px 4px 20px #00000096;
      }
    }
    @media (min-width: $tablet-small) {
      bottom: auto;
      top: 190px;
      margin-left: -600px;
      width: auto;
      transform: translateX(0);
      text-align: left;
      &.start {
        .step {
          font-size: 35px;
        }
        .text {
          font-size: 50px;
        }
      }
      .step {
        line-height: 1.2;
        font-size: 46px;
      }
      .text {
        line-height: 1.2;
        font-size: 64px;
      }
    }
    @media (min-width: $tablet-large) {
      margin-left: -625px;
    }
  }
  .intro-fixed-img {
    position: fixed;
    top: rem($header-height * 2);
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100vh - #{$header-height * 2});
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @include _background-image('img-intro-visual.png');
    background-size: cover;
    @media (min-width: $mobile-large) {
      @include _background-image('img-intro-visual-pc.png');
    }
    @media (min-width: $tablet-small) {
      height: 100vh;
      top: 0;
    }
  }
  .icon-scroll {
    margin-top: rem(30px);
    animation: scrollIcon 0.7s infinite alternate linear;
    @media (min-width: $tablet-small) {
      display: none;
    }
    img {
      width: rem(15px);
      height: rem(34px);
      margin: 0 auto;
      @media (min-width: $mobile-large) {
        &.mobile-show {
          display: none;
        }
        &.pc-show {
          display: block;
        }
      }
    }
  }
  .mobile-icon-scroll {
    transform: translateX(-50%);
    position: fixed;
    bottom: 50px;
    left: 50%;
    z-index: 2;
    animation: scrollIcon 0.7s infinite alternate linear;
    img {
      width: 20px;
    }
  }
}
.intro-float-content {
  transform: translateY(100%);
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%);
    z-index: 2;
  }
  &.complete {
    padding-top: rem(150px) !important;
    @media (min-width: $tablet-small) {
      padding-top: 0 !important;
    }
  }
}
.intro-section {
  background-color: #fff;
  .img-car {
    img {
      width: 100%;
    }
  }
  .intro-text {
    display: block;
    text-align: center;
    &.font-26 {
      font-size: rem(26px);
    }
    &.font-24 {
      font-size: rem(24px);
    }
    &.font-18 {
      font-size: rem(18px);
    }
    &.font-16 {
      font-size: rem(16px);
    }
    &.light {
      font-weight: 300;
    }
    &.mt8 {
      margin-top: rem(8px);
    }
    &.mt16 {
      margin-top: rem(16px);
    }
    &.mt32 {
      margin-top: rem(32px);
    }
    .grey {
      color: #888;
    }
  }
}
.intro-section01 {
  .text-area {
    position: relative;
    margin-top: rem(72px);
    overflow: hidden;
    .font-26 {
      margin-bottom: rem(13px);
    }
    .niro-logo {
      position: absolute;
      bottom: -10px;
      right: 29px;
      img {
        width: 300px;
      }
    }
  }
  .img-car {
    &.side {
      @media (min-width: $tablet-small) {
        display: none;
      }
    }
    &.front {
      margin-top: rem(32px);
    }
  }
  @media (min-width: $tablet-small) {
    display: flex;
    .text-area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      margin-top: 0;
    }
    .text-inner {
      width: 280px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -150px;
    }
    .img-car.front {
      width: 50%;
      margin-top: 0;
    }
    .intro-text {
      text-align: left;
    }
  }
}
.intro-section02 {
  padding: rem(80px) rem(16px) 0;
  position: relative;
  @media (min-width: $tablet-small) {
    padding-bottom: 522px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @include _background-image('img-intro-section02-bg.png');
  }
  .trim-step {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(8px);
    span {
      position: relative;
      font-size: rem(24px);
      line-height: rem(26px);
      font-weight: 700;
      + span {
        margin-left: rem(12px);
        padding-left: rem(12px);
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          left: rem(-3px);
          transform: translateY(-50%);
          width: rem(7px);
          height: rem(12px);
          @include _background('icon/icon-arrow-next-8x12.png');
          background-size: cover;
        }
      }
    }
  }
  .detail-wrapper {
    margin-top: rem(16px);
    @media (min-width: $tablet-small) {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      bottom: 72px;
      left: 50%;
      margin-left: 80px;
    }
  }
  .detail-img {
    img {
      margin: 0 auto;
    }
    @media (min-width: $tablet-small) {
      margin-top: 28px;
      img {
        width: 280px;
      }
    }
  }
  .trim-description {
    margin-top: rem(32px);
    .intro-text {
      + .intro-text {
        margin-top: rem(16px);
      }
    }
    @media (min-width: $tablet-small) {
      margin-top: 0;
      .intro-text {
        + .intro-text {
          margin-top: 12px;
        }
      }
    }
  }
}
.intro-section03 {
  padding: rem(80px) rem(16px) rem(64px);
  .trim-select {
    .btn {
      display: block;
      margin: rem(24px) auto 0;
    }
    @media (min-width: $tablet-small) {
      .intro-text {
        font-weight: 700;
        font-size: 24px;
      }
      .btn {
        width: 300px;
      }
    }
  }
}
.coupon-tooltip {
  margin-top: rem(37px);
  text-align: center;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .icon {
    display: block;
    @include size(rem(20px));
    @include _background('icon/icon-hands-down.png');
    background-size: cover;
  }
  .text {
    margin-left: rem(6px);
    border-bottom: 1px solid #fff8b6;
    line-height: rem(18px);
    font-size: rem(15px);
    color: #fff8b6;
  }
}

// 푸터
#footer {
  position: relative;
  z-index: 3;
  padding: rem(24px) rem(16px);
  border-top: 1px solid #dedede;
  text-align: center;
  background-color: #fff;
  .copyright {
    line-height: rem(15px);
    font-weight: 300;
    font-size: rem(12px);
    color: #888;
  }
  .btn-policy {
    display: block;
    width: rem(101px);
    height: rem(29px);
    margin: rem(10px) auto 0;
    line-height: rem(27px);
    border: 1px solid #dedede;
    text-align: center;
    font-size: rem(11px);
    color: #b5b5b5;
  }
  @media (min-width: $tablet-small) {
    .footer-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1200px;
      margin: 0 auto;
    }
    .btn-policy {
      margin: 0;
    }
  }
  @media (min-width: $tablet-large) {
    padding: 24px 0;
    .footer-inner {
      width: 1280px;
    }
  }
}
