<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../../includes/resources.html')
  </head>
  <style>
    .btn-open {
      display: block;
      margin: 20px;
      border-bottom: 1px solid #ddd;
      font-size: 20px;
      font-weight: bold;
    }
  </style>

  <body>
    <div id="container">
      <button type="button" class="btn-open" onclick="openLayerPopup('optionDetailPopup')">1.옵션 자세히보기 팝업(click)</button>
      <button type="button" class="btn-open" onclick="openLayerPopup('sharePopup')">2.공유하기 팝업(click)</button>
      <button type="button" class="btn-open" onclick="openLayerPopup('garnishDetailPopup')">3.필러 가니쉬 상세 팝업(click)</button>
      <button type="button" class="btn-open" onclick="openLayerPopup('garnishInfoPopup')">4.필러 가니쉬 안내 팝업(click)</button>
    </div>

    <!-- 옵션 자세히 보기 팝업 -->
    @@include('../../includes/popup/option-detail-popup.html')
    <!-- // 옵션 자세히 보기 팝업 -->

    <!-- 공유하기 팝업 -->
    @@include('../../includes/popup/share-popup.html')
    <!-- // 공유하기 팝업 -->

    <!-- 필러 가니쉬 상세 팝업 -->
    @@include('../../includes/popup/garnish-detail-popup.html')
    <!-- // 필러 가니쉬 상세 팝업 -->

    <!-- 필러 가니쉬 안내 팝업 -->
    @@include('../../includes/popup/garnish-info-popup.html')
    <!-- // 필러 가니쉬 안내 팝업 -->
  </body>
</html>
