// typo
.font {
  &.warning {
    color: $warning;
  }
  &.slightly {
    color: $slightly;
  }
  &.primary {
    color: $primary;
  }
  &.danger {
    color: $danger;
  }
}

$input-cover-height: rem(48px);

// input
.input-cover {
  .form-input {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: rem(30px);
    line-height: rem(26px);
    border: 0;
    padding-top: rem(10px);
    padding-bottom: rem(11px);
    border-bottom: 1px solid #dedede;
    border-radius: 0;
    font-weight: 300;
    font-size: rem(18px);
    background-color: transparent;
    @include placeholder(#979797);
    &:read-only,
    &:disabled {
      color: #999 !important;
      &.datepicker-input {
        color: #000 !important;
      }
    }
    @media (max-width: $mobile-large) {
      font-size: 16px;
    }
  }
  .form-label {
    display: block;
    font-size: rem(16px);
    color: #666;
    // transform: translate3d(0, 5px, 0) scale(0.8);
    // transform-origin: left top;
  }
  &.float {
    position: relative;
    @include box-sizing();
    &.active {
      .form-label {
        transform: translate3d(0, -27px, 0) scale(0.8);
      }
    }
    &.focus {
      border-color: $primary;
      .form-label {
        color: $primary;
      }
      .form-input {
        border-color: $primary;
        color: $primary;
      }
    }
    .form-label {
      position: absolute;
      top: rem(7px);
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      transform: translate3d(0, 0, 0) scale(1);
      transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      transform-origin: left top;
      @include ellipsis;
    }
  }
  .required {
    display: inline-block;
    vertical-align: top;
    margin-top: rem(2px);
    margin-left: rem(5px);
    font-weight: 700;
    font-size: rem(16px);
    color: $primary;
  }
  .file-wrapper {
    position: relative;
    .file-input {
      @include blind;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .file-label {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }
}

// radio,checkbox
.selector-wrapper {
  .selector-cover {
    + .selector-cover {
      margin-top: rem(10px);
    }
  }
  &.horizontal {
    @include cf;
    .selector-cover {
      float: left;
      + .selector-cover {
        margin-top: 0;
        margin-left: rem(10px);
      }
    }
  }
}
$radioSize: 20px;
$checkboxSize: 20px;
.selector-cover {
  line-height: 1;
  input {
    cursor: pointer;
    @include blind();
    + label {
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  label {
    display: inline-block;
    vertical-align: middle;
    font-size: rem(14px);
    cursor: pointer;
  }
  // 라디오
  &.radio {
    label {
      min-height: rem($radioSize);
      line-height: rem($radioSize);
      padding-left: rem($radioSize + 6px);
      background-image: url('../images/components/icon-radio-off.png');
      background-size: rem($radioSize) rem($radioSize);
    }
    input:checked + label {
      background-image: url('../images/components/icon-radio-on.png');
    }
  }
  // 체크박스
  &.checkbox {
    label {
      min-height: $checkboxSize;
      line-height: $checkboxSize;
      padding-left: $checkboxSize + 10px;
    }
    &.round {
      label {
        background-image: url('../images/components/icon-checkbox-round-off.png');
        background-size: $checkboxSize $checkboxSize;
      }
      input:checked + label {
        background-image: url('../images/components/icon-checkbox-round-on.png');
      }
    }
    &.square {
      label {
        background-image: url('../images/components/icon-checkbox-square-off.png');
        background-size: $checkboxSize $checkboxSize;
      }
      input:checked + label {
        background-image: url('../images/components/icon-checkbox-square-on.png');
      }
    }
  }
}

.form-guide-text {
  display: block;
  font-weight: 300;
  margin-top: rem(12px);
  font-size: rem(15px);
  + .form-guide-text {
    margin-top: rem(4px);
  }
  @media (max-width: $mobile-large) {
    font-size: 13px;
  }
}
