// 셀렉트박스
.selectric-container {
  position: relative;
  .required {
    display: inline-block;
    margin-left: rem(6px);
    font-weight: 700;
    font-size: rem(16px);
    color: $primary;
  }
  .selectric-open {
    .selectric {
      .button {
        overflow: hidden;
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }
  &.active {
    .select-label {
      transform: translate3d(0, -20px, 0) scale(0.8);
    }
  }
  .select-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform-origin: left top;
    font-size: rem(16px);
    color: #666;
    @include ellipsis;
  }
  .selectric-wrapper {
    position: relative;
    z-index: 2;
    &.selectric-open {
      z-index: 100;
    }
    &.selectric-first-show {
      .selectric-scroll {
        li {
          &:first-child {
            display: block;
          }
        }
      }
    }
    &.selectric-disabled {
      opacity: 1;
      .button {
        display: none;
      }
      .label {
        color: #999 !important;
      }
    }
    .selectric {
      border: 0;
      background-color: #fff;
      .button {
        background-color: #fff;
        text-indent: -9999px;
      }
    }
  }
  .selectric-medium {
    .selectric {
      border-bottom: 1px solid #dedede;
      .label {
        height: rem(41px);
        line-height: rem(41px);
        margin: 0 0 rem(6px) 0;
        font-size: rem(16px);
        color: #000;
        @media (max-width: $mobile-large) {
          font-size: 14px;
        }
      }
      .button {
        &:after {
          width: 13px;
          height: 8px;
          border: 0;
          background-repeat: no-repeat;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url('../images/components/icon-arrow-12x8.png');
          @media (max-width: $mobile-large) {
            width: 10px;
            height: 6px;
          }
        }
      }
    }
    .selectric-items {
      max-height: rem(225px);
      overflow: auto;
      margin-top: rem(7px);
      border-radius: 5px;
      border: 0;
      background-color: #fff;
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
      li {
        padding: rem(18px) rem(32px);
        font-weight: 300;
        font-size: rem(16px);
        @media (max-width: $mobile-large) {
          padding: 12px 16px;
          font-size: 13px;
        }
        &:hover,
        &.selected {
          background-color: #eee;
          color: $primary;
        }
      }
    }
    .selectric-scroll {
      li {
        &:first-child {
          display: none;
        }
      }
    }
    &.selectric-open {
      .label {
        .required {
          color: $warning;
        }
      }
    }
  }
  .selectric-small {
    .selectric {
      .label {
        height: rem(30px);
        line-height: rem(30px);
        margin-right: rem(33px);
        font-size: rem(15px);
      }
      .button {
        width: rem(30px);
        height: rem(30px);
        line-height: rem(30px);
        &:after {
          width: 100%;
          height: 100%;
          border: 0;
          background-size: 12px 7px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-image: url('../images/components/icon-arrow-12x8.png');
          @media (max-width: $mobile-large) {
            width: 10px;
            height: 6px;
          }
        }
      }
    }
    .selectric-items {
      margin-top: rem(5px);
      border-radius: 5px;
      box-shadow: none;
      border: 1px solid #eee;
      background-color: #fff;
      li {
        padding: rem(10px);
        font-size: rem(14px);
        &:hover,
        &.selected {
          background-color: #eee;
          color: $primary;
        }
      }
    }
  }
}
